
usb_wakeup: &user_button {};

/ {
  pwr_5v_domain: pwr_5v_domain {
    status = "okay";

    // I'm thinking this should be "power-domain" since thats how they have it in the examples.
    compatible = "power-domain";
    label = "5v_power_domain";


    //enable-gpios = <&red_led_1 5 GPIO_ACTIVE_LOW>;
  };

  // add power-domain to red_led_1 seperatly?
  red_led_1 {
    power-domain = <&pwr_5v_domain>;
  };

};

// Maybe we need to control the led using the GPIO directly?
// &gpiob {
//   power-domain = <&pwr_5v_domain>;
// };

&i2c2 {
  clock-frequency = < 0x186a0 >;
  bme680: bme680@76 {
    compatible = "bosch,bme680";
    reg = <0x76>;
    label = "BME680";
    status="okay";
  };

  zmod4510: zmod4510@33 {
    compatible = "renesas,zmod4510";
    reg = <0x33>;
    label = "ZMOD4510";
    status="okay";
  };

  sps30: sps30@69 {
    compatible = "sensirion,sps30";
    reg = <0x69>;
    label = "SPS30";
    status="okay";
    power-domain = <&pwr_5v_domain>;
  };
};

&cpu0 {
	cpu-power-states = <&stop0>;
};

&gpioa {
  wakeup-source;
};

// vim: ft=dts
